.contact-subtitle{
    color: white;
    font-size: 1.2vw;
    text-transform: uppercase;
}

.contact-text{
    color: #30FAF7;
    font-family: 'OPTIBankGothic', sans-serif;
    font-style: normal;
    font-size: 3.3vw;
    letter-spacing: 0.14em;
    text-transform: uppercase;
}


.contact-container{
    position: relative;
    text-align: center;
}

.contact-container img{
    width: 95%;
}

.contact{
    position: absolute;
    top: 150px;
    left: 10%;
    text-align: left;
    width: 100%;
}

.contact-row{
    display: flex;
    width: 100%;
    margin-top: 50px;
}

.form-box{
    width: 100%;
    text-align: center;
    margin-top: 70px;
}

.contact-yield{
    width: 80%!important;
    height: 50px;
}

.yield{
    width: 40%;
    margin-left: 40px;
}

.contact-area{
    margin-top: 50px;
    width: 75%;
    text-align: center;
    margin-left: 40px;
}

.contact-yield-area{
    height: 150px;
}

.contact-submit{
    width: 165px!important;
    text-align: right;
}
.contact-button{
    width: 144%;
    margin-top: 20px;
}


@media screen and (max-width:992px) {
  
    .contact-container.container-fluid{
        padding: 0%;

    }
    .contact-container{
        height: 730px;
    }
    .contact-container img{
        height: 100%;
        width: 100%;
    }
  
    .yield{
      margin-top: 1%;
      width: 90%;
      margin-left: 0px;
    }
    .contact-row{
      display: block;
      width: 100%;
      margin-top: 0px;
  }
  .contact-area{
      margin-left: 0px;
      margin-top: 2%;
      width: 72%;
      text-align: center;
  }
  .contact-text{
      font-size: 4vh;
  }
  .contact{
      top:0;
      margin-top: 5%;
      padding-top: 15px;
  }
  .form-box{
      margin-left: 4%;
  }

  .contact-subtitle{
      font-size: 2vh;
  }
  .contact-button{
      width: 100%;
  }
      
  }