.footer-bac{
    width: 120%;
    height: 650px;
}

.footer-container{
    position: relative;
}

.footer-box{
    position: absolute;
    top: 25%;
    left: 38%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.link-img{
    margin-top: 70px;
}

.footer-text{
    color: white;
    margin-top: 150px;
}

@media screen and (max-width:992px) {
    .footer-container br{
        display: none;
    }
    .footer-container img{
        display: block;
    }
    .footer-bac{
        width: 100%;
        height: 60%;
    }
    .footer-box img{
        width: 30%;
    }
    .footer-text{
        margin-left: -50%;
    }
    .link-img{
        margin-top: 7%;
    }
  }