.serve-img{
    width: 33.3%;
}

.serve-back-img{
    display: flex;
}

.serve-img{
    width: 100%;
}

.col{
    width: 33.3%;
}

.middle{
    position: relative;
}

.serve-text {
    position: absolute;
    top: 25%;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    left: 15%;
    text-align: center;
    width: 70%;
}

.serve-title{
    font-size: 2vw;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #2EFAF6;
}

.serve-context{
    font-size: 1.1vw;
    line-height: 35px;
    color: #FFFFFF;
}

.content-title{
    margin-top: 150px;
}

.content{
    text-align: center;
}

.link{
    position: relative;
}

.link-hover{
    position: absolute;
    left: 45%;
    top: -40%;
}

@media screen and (max-width:992px) {
    .white-context{
        font-size: 4vh;
    }
    .img-play{
        width: 15%;
        left: 45%;
    }
    .serve-back-img{
        display: block;
    }
    .serve-img{
        margin-top: 2%!important;
    }
    .serve-text{
        line-height: 5%;
    }
    .serve-title{
        font-size: 20px;
    }
    .serve-context{
        font-size: 10px;
    }
    .link img{
        width: 101%;
    }
    .link-hover{
        width: 23%!important;
        top: -5%;

    }
    
}